TankClient/.gradle/2.4/taskArtifacts/cache.properties.lock
*.lock
TankClient/.gradle/2.4/taskArtifacts/fileHashes.bin
TankClient/.gradle/2.4/taskArtifacts/fileHashes.bin
TankClient/.gradle/2.4/taskArtifacts/outputFileStates.bin
TankClient/.idea/workspace.xml